.Rating {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;

  h2 {
    padding: 0;
    margin-bottom: 0;
    font-size: 2.4em;
  }

  p {
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  .button-container {
    position: fixed;
    bottom: 40px;
    width: 100%;
  }

  .hide {
    visibility: hidden;
    display: none;
  }

  .show {
    visibility: visible;
    display: block;
  }

  @media(max-width: 400px){

    h2 {
      font-size: 2em;
      padding: 10px 0;
    }

    p {
      text-align: center;
      font-size: 1em;
    }
  }

  @media (min-width: 401px){
    h2 {
      font-size: 2.2em;
    }
  }

  @media(max-width: 1099px){

  }
}
